<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegoBike</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <style>
      h1 {
        color: white;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="menu container">
        <img class="logo-1" src="../static/../static/images/logo.png" />
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="../static/../static/images/menu.png" class="menu-icono" alt="" />
        </label>

        <nav class="navbar">
          <div class="menu-1">
            <ul>
              <li><a href="{{ url_for('admin') }}">Inicio</a></li>
              <li><a href="{{ url_for('arriendos') }}">Arriendos</a></li>
              <li><a href="{{ url_for('productos') }}">Productos</a></li>
              <li><a href="{{ url_for('repuestos') }}">Repuestos</a></li>
            </ul>
          </div>
          <img class="logo-2" src="../static/images/logo.png" width="77" height="100" />
          <div class="menu-2">
            <ul>
              <li><a href="{{ url_for('home') }}">Salir</a></li>
            </ul>
            <div class="socials">
              <a href="https://www.facebook.com/profile.php?id=61560865134916" target="_blank">
                <div class="social">
                  <img src="../static/images/s1.svg" alt="" />
                </div>
              </a>
              <a href="https://x.com/RegoBike" target="_blank">
                <div class="social">
                  <img src="../static/images/s2.svg" alt="" />
                </div>
              </a>
              <a href="https://www.instagram.com/bikerg5/" target="_blank">
                <div class="social">
                  <img src="../static/images/s3.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div><h1>Productos</h1></div>
      <section>
        <div class="product-list">
          <div class="product" data-discount="27%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img src="../static/images/bicicleta1.png" alt="" />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Oxford Bicicleta Aro 29 Merak 1 Negra</h2>
              <div class="price">
                <span class="current-price">$159.990</span>
                <span class="original-price">$219.990</span>
                <span class="discount">27%</span>
              </div>
              
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img src="../static/images/bicicleta1.png" alt="" />
              <img src="../static/images/bicicleta1-2.png" alt="" />
            </div>
          </div>
          <!-- Repetir para los otros productos -->
          <div class="product" data-discount="27%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img src="../static/images/bicicleta2.png" alt="" />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>
                Bicicleta Electrica Trail Cannondale Moterra NEO CRB 1 2022
                Abyss Blue
              </h2>
              <div class="price">
                <span class="current-price">$5.999.990</span>
                <span class="original-price">$7.490.000</span>
                <span class="discount">27%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img src="../static/images/bicicleta2-2.png" alt="" />
              <img src="../static/images/bicicleta2-3.png" alt="" />
              <img src="../static/images/bicicleta2.png" alt="" />
            </div>
          </div>
          <div class="product" data-discount="40%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img src="../static/images/bicicleta3.png" alt="" />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Gravel Kona Rove 36E 2023 Blue</h2>
              <div class="price">
                <span class="current-price">$699.990</span>
                <span class="original-price">$899.900</span>
                <span class="discount">40%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img src="../static/images/bicicleta3-2.png" alt="" />
              <img src="../static/images/bicicleta3-3.png" alt="" />
              <img src="../static/images/bicicleta3-4.png" alt="" />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
          <div class="product" data-discount="25%">
            <div class="image-container">
              <button class="prev">&lt;</button>
              <img
                src="../static/images/bicicleta4.png"
                alt=""
              />
              <button class="next">&gt;</button>
            </div>
            <div class="product-info">
              <h2>Bicicleta Infantil Aro 20 Negro</h2>
              <div class="price">
                <span class="current-price">$187.490</span>
                <span class="original-price">$249.990</span>
                <span class="discount">25%</span>
              </div>
              <div class="shipping">
                <button class="button" onclick="return confirmarCompra()">Comprar</button>
                Envío Gratis
              </div>
            </div>
            <div class="image-list">
              <img
                src="../static/images/bicicleta4-2.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-3.png"
                alt=""
              />
              <img
                src="../static/images/bicicleta4-4.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
    </main>

    <section class="info container">
      <div class="info-img">
        <img src="../static/images/bicletadeproductos.png" alt="" />
      </div>

      <div class="info-txt">
        <h2>Productos</h2>
        <p>
          Descubre nuestra selección exclusiva de bicicletas. Diseñadas para cada estilo de vida, nuestras bicicletas ofrecen calidad, rendimiento y comodidad. ¡Encuentra tu compañera ideal y comienza a pedalear hacia nuevas aventuras!
        </p>
        <a href="#" class="btn-2">Mas Informacion</a>
      </div>
    </section>

    <section class="horario">
      <div class="horario-info container">
        <h2>Horario</h2>
        <div class="horario-txt">
          <div class="txt">
            <h4>Direccion</h4>
            <p>la pintana</p>
            <p>venancia leiva</p>
          </div>
          <div class="txt">
            <h4>Horario</h4>
            <p>Lunes a viernes : 9am - 8pm</p>
            <p>Sabado y Domingo : 11am - 7pm</p>
          </div>
          <div class="txt">
            <h4>Telefonos</h4>
            <p>+56 22 243 5210</p>
            <p>+56 25 763 6324</p>
          </div>
          <div class="txt">
            <h4>Redes Sociales</h4>
            <div class="socials">
              <a href="https://www.facebook.com/profile.php?id=61560865134916" target="_blank">
                <div class="social">
                  <img src="../static/images/s1.svg" alt="" />
                </div>
              </a>
              <a href="https://x.com/RegoBike" target="_blank">
                <div class="social">
                  <img src="../static/images/s2.svg" alt="" />
                </div>
              </a>
              <a href="https://www.instagram.com/bikerg5/" target="_blank">
                <div class="social">
                  <img src="../static/images/s3.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32137.910189224436!2d-70.64716797902351!3d-33.571233035529055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662da11cc1a428b%3A0xd4008cf9b54a7c3f!2sVilla%20el%20Bosque%2C%208820251%20La%20Pintana%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1717457848000!5m2!1ses-419!2scl"
        width="100%"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

    <footer class="footer container">
      <img class="logo-2" src="../static/images/logo.png" />
      <div class="links">
        <h4>Bicicletas</h4>
        <ul>
          <li><a href="#">Bicicletas de Montaña</a></li>
          <li><a href="#">Bicicletas Eléctricas</a></li>
          <li><a href="#">Bicicletas de Niño</a></li>
          <li><a href="#">Bicicletas de Ruta</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>Repuestos y Accesorios</h4>
        <ul>
          <li><a href="#">Sillas</a></li>
          <li><a href="#">Cadenas</a></li>
          <li><a href="#">Mazas</a></li>
          <li><a href="#">Etc</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>SERVICIO AL CLIENTE</h4>
        <ul>
          <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          <li><a href="{{ url_for('terminoycondiciones') }}">Términos y Condiciones</a></li>
          <li><a href="{{ url_for('garantiaycambio') }}">Política de Garantías y Cambios</a></li>
          <li><a href="{{ url_for('politicaprivacidad') }}">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>Redes</h4>
        <div class="socials">
          <a href="https://www.facebook.com/profile.php?id=61560865134916" target="_blank">
            <div class="social">
              <img src="../static/images/s1.svg" alt="" />
            </div>
          </a>
          <a href="https://x.com/RegoBike" target="_blank">
            <div class="social">
              <img src="../static/images/s2.svg" alt="" />
            </div>
          </a>
          <a href="https://www.instagram.com/bikerg5/" target="_blank">
            <div class="social">
              <img src="../static/images/s3.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      function confirmarCompra() {
        return confirm("¿Estás seguro de que quieres comprar este producto?");
      }
    </script>
    <script>
      // scripts.js
      
      document.addEventListener("DOMContentLoaded", function () {
        const products = document.querySelectorAll(".product");

        products.forEach((product) => {
          const prevButton = product.querySelector(".prev");
          const nextButton = product.querySelector(".next");
          const imageContainer = product.querySelector(".image-container img");
          const imageList = Array.from(
            product.querySelectorAll(".image-list img")
          );

          let currentImageIndex = 0;

          prevButton.addEventListener("click", () => {
            currentImageIndex =
              currentImageIndex > 0
                ? currentImageIndex - 1
                : imageList.length - 1;
            imageContainer.src = imageList[currentImageIndex].src;
          });

          nextButton.addEventListener("click", () => {
            currentImageIndex =
              currentImageIndex < imageList.length - 1
                ? currentImageIndex + 1
                : 0;
            imageContainer.src = imageList[currentImageIndex].src;
          });
        });
      });
      
    </script>
  </body>
</html>
