@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #DB241B;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}



.message button:hover {
    background-color: #a51911;
}

.formulario {
    width: 500px;
    height: 130%;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #a51911;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario button[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}


.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

.modal {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #505562;
    align-items: center;
    justify-content: center;
}

button#modalBtn {
    padding: 8px 15px;
    background-color: #505562;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal.active{
    display: flex;
}

.modal-content {
    background: #17181c;
    color: #f1f2f4;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
}

.modal-content::before {
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    transition: background-color .3s;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3;
    font-size: 20px;   
}

.closeIcon:hover {
    color: #c7cad1;

}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon {
    font-size: 50px;
    color: #f65656;
}

.right-items {
    margin-left: 30px;
}

button#okBtn {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #f65656;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

button#okBtn:hover{
    background: #8f95a333;
}